@media screen and (max-width: 767px){
    .info-head{text-align: center;}
    .info-head li{padding: 0;}
    .text-about {margin-top: 30px;}
    .btn-about ul li {display: block;margin-bottom: 20px;}
    .btn-about ul li a{width: 100%;text-align: center;}
    .btn-about ul li:last-child{float: none;}
    .other-img-about {margin-bottom: 20px;}
    .service .col-md-6 {padding: 0 15px !important;}
    .form-contact {margin-top: 50px;}
    .list-menu-footer li {display: block;}
    #cookie-law-info-again{right: 0 !important;}
    .img-site {margin-top: 20px;}
}
@media screen and (max-width: 991px){
    .bg-nav-menu button {border: none !important;color: rgba(0,0,0,1) !important;}
    .bg-nav-menu button:focus{outline:0 !important;}
    .menu-header {text-align: center;}
    .menu-header li {padding-left: 0;}
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .btn-about ul li a{padding: 10px 20px;}
    .logo-talk-about-us img {width: 200px;}
    .service .col-md-6{padding: 0 15px !important;}
}