* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'OpenSans';
    src: url('./fonts/opensans/OpenSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('./fonts/opensans/OpenSans-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;

}
@font-face {
    font-family: 'OpenSans';
    src: url('./fonts/opensans/OpenSans-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('./fonts/opensans/OpenSans-ExtraBoldItalic.ttf');
    font-weight: 800;
    font-style: italic;

}
@font-face {
    font-family: 'OpenSans';
    src: url('./fonts/opensans/OpenSans-Italic.ttf');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'OpenSans';
    src: url('./fonts/opensans/OpenSans-Ligth.ttf');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('./fonts/opensans/OpenSans-LigthItalic.ttf');
    font-weight: 300;
    font-style: italic;

}
@font-face {
    font-family: 'OpenSans';
    src: url('./fonts/opensans/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('./fonts/opensans/OpenSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('./fonts/opensans/OpenSans-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;

}

body{font-family: 'Open Sans', sans-serif !important;}
.wrapper{ width:100%;}
img{max-width: 100%;}
.img-responsive{width: 100% !important;}
ul{list-style: none;}
.relative{position: relative;}
.absolute{position: absolute;}
.social-share {position: fixed;right: 0;top: 50%;}
.bg-nav-contact {background: #000;}
.info-head {margin: 0;padding: 0;}
.info-head li {display: inline-block; padding-left: 20px; font-size: 15px;}
.info-head li i {color: #00a9cc;}
.info-head li a {color: #fff;}
.bg-nav-menu {background: #00a9cc;}
.menu-header li {padding-left: 35px;}
.menu-header li a {color: #fff !important;font-size: 16px;font-weight: 600; text-transform: uppercase;}
.banner-video img {width: 100%;height: 450px;object-fit: cover;}
.text-banner {padding: 30px 0;}
.text-banner p {margin-bottom: 0;font-size: 14px;color: #000;}
.about {padding: 30px 0;}
.title-section {margin-bottom: 30px;}
.title-section h1 {font-size: 30px;text-transform: uppercase;font-weight: 600;letter-spacing: 7px;margin: 0;}
.img-about img {width: 540px;height: 304px;object-fit: cover;}
.text-about p {margin: 0;font-size: 14px;color: #000;}
.btn-about {margin-top: 25px;}
.btn-about ul {margin: 0;padding: 0;}
.btn-about ul li {display: inline-block;}
.btn-about ul li:last-child{float: right;}
.btn-about ul li a {background: #556b2f;color: #fff;padding: 10px 50px;display: inline-block;text-decoration: none !important;transition: 0.5s;border: solid 1px #556b2f;
font-size: 15px;}
.btn-about ul li a:hover{color: #556b2f; background: transparent;}
.other-content-about {margin-top: 50px;}
.other-title-about h3 {font-size: 20px;margin-bottom: 40px;}
.other-text-about p {font-size: 14px;}
.other-img-about img {width: 100%;height: 234px;object-fit: cover;}
.talk-about-us {margin-top: 50px;}
.talk-about-us h4 {font-size: 20px;text-transform: uppercase;}
.talk-about-us .owl-item{width: 375px !important;}
.logo-talk-about-us a:focus{outline: 0 !important;}
.logo-talk-about-us img {width: 300px;}
.service {padding: 30px 0;}
.content-service img {width: 570px;height: 334px;object-fit: cover;margin-bottom: 40px;}
.content-service p {font-size: 14px;color: #000;text-align: justify;line-height: 27px;margin-bottom: 0;}
.service .col-md-6:first-child{padding-right: 60px;}
.service .col-md-6:last-child{padding-left: 60px;}
.btn-phone-service {text-align: center;margin-top: 30px;}
.btn-phone-service a {background: #556b2f;color: #fff;padding: 10px 50px;display: inline-block;text-decoration: none !important;transition: 0.5s;border: solid 1px #556b2f;
font-size: 15px;}
.btn-phone-service a:hover{background: transparent; color: #556b2f;}
.contact{padding: 30px 0;}
.coordonne ul {margin: 0;padding: 0;}
.coordonne ul li {font-size: 16px;color: #000;line-height: 30px;}
.coordonne ul li span {font-size: 16px;font-weight: 600;text-transform: uppercase;color: #556b2f;}
.form-contact .form-group {margin-bottom: 35px;}
.input-form {border-radius: 0 !important;font-size: 15px !important;color: #556b2f !important;border: solid 1px #556b2f !important;padding: 10px !important;}
.input-form::placeholder{color: #556b2f;}
.input-form:focus{box-shadow: none !important;}
.form-contact textarea{height: 140px;}
.input-submit {background: #556b2f !important;color: #fff !important;padding: 10px 50px !important;transition: 0.5s !important;border: solid 1px #556b2f !important;border-radius: 0 !important;font-size: 15px !important;}
.input-submit:focus{box-shadow: none !important;}
.input-submit:hover{background: transparent !important; color: #556b2f !important;}
.footer {background: #00a9cc;padding: 50px 0;}
.list-menu-footer {margin: 0;padding: 0;}
.list-menu-footer li {display: inline-block;padding: 0 20px;}
.list-menu-footer li a {color: #fff;font-size: 16px;text-transform: uppercase;text-decoration: none !important;}
.info-footer {margin-top: 30px;}
.info-footer p {font-size: 15px;color: #fff;line-height: 25px;margin-bottom: 0;}
.info-footer a {color: #556b2f;text-decoration: none !important;}
.info-footer a:hover{color: #556b2f !important;}
.bloc-galerie {padding: 80px 0;}
.galerie-photo img {width: 150px;height: 71px;object-fit: cover;}
.video-site video {width: 100%;height: 437px;}